* {
  margin: 0;
  zoom:1.187
}
.red {
  background-color: rgba(240, 21, 21, 0.932);
}
.green{
  background-color: rgba(17, 231, 17, 0.767);
}
.green2{
  background-color: rgba(17, 231, 17, 0.767);
}

#root{
  background-image: url(./Assets/360_F_271120192_ZDT2FCxH94akiIsOHwVULWnbNzi8Oagn.jpg);
  background-repeat: repeat;
  height:100vh ;
  width: 100vw;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#back_btn{
  background-image: url(./Assets/arrow.png);
  background-size: cover;
  background-color: rgb(151, 86, 211);
  border-radius: 2px;
}
.back_btn_end{
}